---
const {currentPath} = Astro.props;
---

<div id="footer-section" class="section">
    <div class="container">
        <div class="top-content">
            <h2 class="section-heading title">Watts On Electric</h2>
            <p class="card-text statement">Your trusted partner for any and all <strong>electrical solutions.</strong></p>
        </div>
        <ul class="link-wrapper">
            <li><a class="body-text" href="/" aria-current={`${currentPath === "/" ? 'true' : 'false'}`}>Home</a></li>
            <li><a class="body-text" href="/About" aria-current={`${currentPath === "/About" ? 'true' : 'false'}`}>About</a></li>
            <li><a class="body-text" href="/Services" aria-current={`${currentPath === "/Services" ? 'true' : 'false'}`}>Services</a></li>
            <li><a class="body-text" href="/Testimonials" aria-current={`${currentPath === "/Testimonials" ? 'true' : 'false'}`}>Testimonials</a></li>
            <li><a class="body-text" href="/Contact" aria-current={`${currentPath === "/Contact" ? 'true' : 'false'}`}>Contact</a></li>
        </ul>
    </div>
</div>