
<div id="footer-section" class="section">
    <div class="container">
        <div class="top-content">
            <h2 class="section-heading title">Watts On Electric</h2>
            <p class="card-text statement">Your trusted partner for any and all <strong>electrical solutions.</strong></p>
        </div>
        <ul class="link-wrapper">
            <li><a class="body-text" href="/">Home</a></li>
            <li><a class="body-text" href="/About">About</a></li>
            <li><a class="body-text" href="/Services">Services</a></li>
            <li><a class="body-text" href="/Testimonials">Testimonials</a></li>
            <li><a class="body-text" href="/Contact">Contact</a></li>
        </ul>
    </div>
</div>