---
import '../../css/components/homepage/statSection.css';
---

<section id="home-stat-section" class="section">
    <div class="container">
        <div id="content-divider" class="flex-column">
            <div class="top-content">
                <div class="text-content-wrapper">
                    <h2 class="section-heading">
                        Why Choose Us
                    </h2>
                    <p class="body-text">
                    At WattsOn Electric, we are committed to providing exceptional electrical services that ensure safety, efficiency, and satisfaction. Our team of experienced professionals is dedicated to delivering high-quality workmanship and exceptional customer service. Whether you need residential or commercial electrical solutions, we have the expertise to meet your needs.
                    </p>
                </div>
                <div id="standalone-card" class="flex-column stat-card">
                    <div class="icon-wrapper">
                        <img class="full-image" src="/Icons/HomePin.svg" alt="Waypoint map pin" loading="lazy" decoding="async"/>
                    </div>
                    <h3 class="card-title">
                        Hometown Expertise
                    </h3>
                    <p class="card-text">
                        As a locally owned and operated East Texas business, we understand the unique electrical needs of our community. We are dedicated to providing personalized service and building lasting relationships with our clients.
                    </p>
                </div>
            </div>
            <ul class="stat-list">
                <li id="stat-card-1" class="flex-column stat-card">
                    <div class="icon-wrapper">
                        <img class="full-image" src="/Icons/BorderCheck.svg" alt="check mark icon with stylish border" loading="lazy" decoding="async"/>
                    </div>
                    <h3 class="card-title">
                        Licensed & Insured
                    </h3>
                    <p class="card-text">
                        Our team consists of fully licensed, bonded, and insured electricians with years of professional experience.
                    </p>
                </li>
                <li id="stat-card-2" class="flex-column stat-card">
                    <div class="icon-wrapper">
                        <img class="full-image" src="/Icons/Clock.svg" alt="clock displaying the time of about noon" loading="lazy" decoding="async"/>
                    </div>
                    <h3 class="card-title">Fast Response</h3>
                    <p class="card-text">
                        We understand that electrical issues can't wait. That's why we offer prompt service and 24/7 emergency support.
                    </p>
                </li>
                <li id="stat-card-3" class="flex-column stat-card">
                    <div class="icon-wrapper">
                        <img class="full-image" src="/Icons/Money.svg" alt="dollar sign pricing symbol" loading="lazy" decoding="async"/>
                    </div>
                    <h3 class="card-title">Transparent Pricing</h3>
                    <p class="card-text">
                        No hidden fees or surprise costs. We provide detailed quotes before starting any work, ensuring you know exactly what to expect.
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>