@media(min-width: 0px)
{
    #home-service-section #section-box {
        gap: clamp(3rem, 9vw, 4rem);
    }

    #home-service-section h2 {
        margin: 0 auto;
        width: fit-content;
    }

    #home-service-section .content-wrapper {
        width: 100%;
    }

    #home-service-section .service-list{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, auto);
        row-gap: clamp(1.5rem, 4vw, 3rem);
        column-gap: clamp(1.5rem, 4vw, 3rem);
    }

    #home-service-section .button-wrapper {
        width: fit-content;
        margin: 0 auto;
        height: fit-content;
    }

    #home-service-section .cta-wrapper {
        margin-bottom: 2rem;
        gap: 2rem;
    }
}

@media(min-width: 768px)
{
    #home-service-section .service-list{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }
}

@media(min-width: 1024px)
{
    #home-service-section .service-list{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    #home-service-section h2 {
        width: 100%;
        margin: 0;
    }

    #home-service-section .content-wrapper {
        text-align: center;
    }

    
}