@media(min-width: 0px)
{
    .service-card {
        gap: 1rem;
        background: #F7F7F7;
        border-radius: .5rem;
        padding: 1rem;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .service-card .card-icon-wrapper {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: var(--secondary-color);
        padding: .75rem;
    }

    .service-card .service-icon {
        filter: brightness(0) saturate(100%) invert(27%) sepia(97%) saturate(2641%) hue-rotate(216deg) brightness(96%) contrast(91%);
    }

    .service-card .chevron-wrapper {
        width: 2rem;
        height: 2rem;
        transition: translate .15s ease-in-out;
    }

    .service-card .chevron-wrapper img {
        filter: brightness(0) saturate(100%) invert(27%) sepia(97%) saturate(2641%) hue-rotate(216deg) brightness(96%) contrast(91%);
    }

    .service-card .link-wrapper {
        align-items: center;
        background: var(--primary-color-dark);
        border-radius: .5rem;
        width: fit-content;
        padding: .25rem 1rem;
    }

    .service-card a {
        color: var(--accent-color);
        text-decoration: none;
    }

    @media(pointer: fine) {
        .service-card a:hover,
        .service-card a:focus {
            text-decoration: underline;
        }

        .service-card .link-wrapper:hover .chevron-wrapper {
            translate: 10px 0px;
            transition: translate .15s ease-in-out;
        }
    }
}